<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoft.youeryuan.dao.NoticeDao">


 <!-- <select id="selectByTitleAndTime" parameterMap="map" resultType="Notice">-->

<select id="selectByTitleAndTime"  parameterType="map" resultType="com.isoft.youeryuan.entity.Notice">
   select * from tb_notice
   <where>
       <if test="null!=titleKey ">
           <bind name="titleLike" value="'%' + titleKey + '%'"/>
           and title like #{titleLike}
       </if>
       <if test="null!=startTime">
           <if test="null!=endTime">
               and ndatetime between #{startTime} and #{endTime}
           </if>
           <if test="null==endTime">
               and ndatetime &gt;= #{startTime}
           </if>
       </if>
       <if test="null==startTime">
           <if test="null!=endTime">
               and ndatetime &lt;= #{endTime}
           </if>
       </if>
   </where>
    limit ${offset} , ${rowCount}
</select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from tb_notice
        <where>

            <if test="null!=titleKey ">
                <bind name="titleLike" value="'%' + titleKey + '%'"/>
                and title like #{titleLike}
            </if>
            <if test="null!=startTime">
                <if test="null!=endTime">
                    and ndatetime between #{startTime} and #{endTime}
                </if>
                <if test="null==endTime">
                    and ndatetime &gt;= #{startTime}
                </if>
            </if>
            <if test="null==startTime">
                <if test="null!=endTime">
                    and ndatetime &lt;= #{endTime}
                </if>
            </if>
        </where>
    </select>
</mapper>